<button cButton color="dark" class="mb-3" (click)="addUser()">
  Add student
</button>
<c-modal
  #addStudentForm
  [scrollable]="true"
  [visible]="displayAddStudent"
  alignment="center"
  id="addStudentForm"
>
  <c-modal-header>
    <h5 cModalTitle>Add Student</h5>
    <button (click)="displayAddStudent = false" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form cForm class="row g-3">
      <c-col [md]="6">
        <label cLabel for="firstName">First Name</label>
        <input
          required
          cFormControl
          id="firstName"
          name="firstName"
          type="text"
          [(ngModel)]="student.firstName"
        />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="lastName">Last Name</label>
        <input
          required
          cFormControl
          id="lastName"
          name="lastName"
          type="text"
          [(ngModel)]="student.lastName"
        />
      </c-col>
      <c-col [md]="4">
        <label cLabel for="password">Password</label>
        <input
          required
          cFormControl
          id="password"
          type="password"
          name="password"
          [(ngModel)]="student.password"
        />
      </c-col>
      <c-col [xs]="12">
        <label cLabel for="email">Email Address</label>
        <input
          required
          cFormControl
          id="email"
          name="email"
          placeholder="johndoe@um5.ac.ma"
          [(ngModel)]="student.email"
          [disabled]="student.id != null"
        />
      </c-col>
      <c-col [md]="4">
        <label cLabel for="rfid">RFID Code Number</label>
        <input
          required
          cFormControl
          id="rfid"
          type="text"
          name="rfid"
          [(ngModel)]="student.rfid"
        />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="phone">Contact Number</label>
        <input
          cFormControl
          id="phone"
          name="phone"
          [(ngModel)]="student.contactNumber"
        />
      </c-col>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="displayAddStudent = false" cButton color="secondary">
      Close
    </button>
    <button
      cButton
      color="dark"
      [disabled]="!isValidStudent()"
      (click)="saveStudent()"
    >
      Add
    </button>
  </c-modal-footer>
</c-modal>
<c-modal
  [scrollable]="true"
  [visible]="displayConfirmDelete"
  alignment="center"
>
  <c-modal-header>
    <h5 cModalTitle>Delete Student</h5>
    <button (click)="displayConfirmDelete = false" cButtonClose></button>
  </c-modal-header>
  <c-modal-body> </c-modal-body>
  <c-modal-footer>
    <button (click)="displayConfirmDelete = false" cButton color="secondary">
      Cancel
    </button>
    <button cButton color="dark" (click)="deleteStudent(student.id)">
      Delete
    </button>
  </c-modal-footer>
</c-modal>

<table cTable>
  <thead cTableColor="dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">RFID Code Number</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of listStudents">
      <th scope="row">{{ s.firstName }}</th>
      <td>{{ s.lastName }}</td>
      <td>{{ s.email }}</td>
      <td>{{ s.rfid }}</td>
      <td>{{ s.contactNumber }}</td>
      <td>
        <button cButton class="m-2" color="dark" (click)="editStudent(s)">
          Edit
        </button>
        <button
          cButton
          class="m-2"
          color="dark"
          (click)="displayConfirmDelete = true; student = s"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
